/*
 *	TYPOGRAPHY
 *
 *	Default Typography used on this website
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Voltaire);

p, ul, ol {
	font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
	font-weight: 100;
}
h1, h2, h3, h4, h5. h6 {
	font-family: 'Voltaire', sans-serif;
	font-weight: 100;
}


/* 
 *	LAYOUT
 *
 *	Default layout styles used on this website.
 */
html {
}
body {
}


/*
 *	COLORS
 *
 *	Default colors used on this website
 */
article a {
	color: rgb(0,0,0);
}
article a:hover {
	color: rgb(0,0,0);
}
header, article, footer {
	overflow: hidden;
}
.dbg {
	background: rgba(0,0,0,0.8);
	color: rgb(255,255,255);
}
.lbg {
	background: rgba(255,255,255,0.93);
	color: rgb(0,0,0);
}


/*
 *	NAV
 *
 *	Default styles for the html5 nav element
 */
nav {
}
nav ul {
}
nav ul li {
}
nav ul li a {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
}
nav ul li a:hover {
}


/*
 *	ARTICLE
 *
 *	Default styles for the html5 article element
 */
article {
	color: rgb(78, 78, 78);
}
article p,
article ol,
article ul {
	color: rgb(78, 78, 78);
}
article h1, 
article h2, 
article h3 {
	font-weight: normal;
	letter-spacing: 4px;
}
article h1,
article h2 {
	font-size: 30px;
}
article h3 {
	font-size: 22px;
}
article strong {
	color: rgb(22, 22, 22);
	font-weight: normal;
}
article a {
	text-decoration: underline;
}

/*
 *	CONTENT
 *
 *	The html5 section#content element
 */
section#content {
	padding-top: 60px;
}


/*
 *	SOCIAL SHARING TWEAKS
 */	
article ul.social-sharing {
	list-style: none;
}
article ul.social-sharing li {
	display: inline-block;
	margin-right: 7px;
}
article ul.social-sharing li.facebook .fb_iframe_widget iframe {
		margin-top: -4px;
}
.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { 
	width: 100% !important; 
}


/*
 *	COLOPHON
 *
 *	The html5 aside#colophon element
 */
aside#colophon {

}
aside#colophon ul {
	list-style: none;
}
aside#colophon ul	li.icon {
  width: 34px;
  height: 34px;
  display: inline-block;
  opacity: 0.3;
  
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
aside#colophon ul li a {
  display: block;
	width: 34px;
	height: 34px;
	text-indent: -9999em;
	background-repeat: no-repeat;
}
aside#colophon ul li.icon:hover {
	opacity: 0.7;
}
aside#colophon ul li.facebook a {
  background-image: url('../elements/social/Facebook-white.png');
}
aside#colophon ul li.flickr a {
  background-image: url('../elements/social/Flickr-white.png');
}
aside#colophon ul li.google a {
  background-image: url('../elements/social/Google+-white.png');
}
aside#colophon ul li.linkedin a {
  background-image: url('../elements/social/LinkedIn-white.png');
}
aside#colophon ul li.skype a {
  background-image: url('../elements/social/Skype-white.png');
}
aside#colophon ul li.twitter a {
  background-image: url('../elements/social/Twitter-white.png');
}
aside#colophon ul li.vimeo a {
  background-image: url('../elements/social/Vimeo-white.png');
}


/*
 *	FOOTER
 *
 *	The html5 footer element
 */
footer {

}


/* 
 *	RESPONSIVE EMBEDDED MEDIA
 */
section#entry-embeds {
	overflow: hidden;
	color: rgb(255,255,255);
}
.embed-container {
  position: relative;
  padding-bottom: 53%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
 *	RESPONSIVE DESIGN
 *
 *	Styles needed for different devices/screen sizes
 */


/* Very large screens */
@media only screen and (min-width: 1441px) { 

}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) { 
	
}

/* Desktops */
@media only screen and (min-width: 768px) {
	nav.top-bar {
		background: none;
		padding: 60px 0;
	}
	nav.top-bar ul {

	}
	nav.top-bar ul li {
		display: block;
		float: none;
	}
	nav.top-bar ul li a {
		color: rgb(30,30,30) !important;
		height: 24px !important;
		line-height: 24px !important;
		font-size: 17px !important;
		font-weight: normal !important;
	}
	nav.top-bar ul li:hover {
		background: none !important;
	}
}

/* Small screens */
@media only screen and (max-width: 767px) {  


}

/* Landscape Orientation */
@media screen and (orientation: landscape) { 

}

/* Portrait Orientation */
@media screen and (orientation: portrait) { 

}

/* Touch Detection */
.touch .your-class { 

}